{% extends "Repower/base.html" %}

{% block title %}Notifications{% endblock %}

{% block content %}
    <h1>Notifications</h1>

    <ul>
        {% for notification in notifications %}
            <li>
                {% if not notification.read %}(NEW){% endif %}
                {{ notification.time }} -
                <a href="{{ notification.url }}">{{ notification.text }}</a>
            </li>
        {% empty %}
            <li>No notifications</li>
        {% endfor %}
    </ul>
{% endblock %}