{% extends "Repower/base.html" %}

{% block title %}Start{% endblock %}

{% block content %}
    <h1>Welcome {{ user.username }}</h1>

    {% if match_players %}
        <h3>Your current matches:</h3>

        <ul>
            {% for match_player in match_players %}
                <li>
                    {{ match_player.status_box }}
                    <a href="{{ match_player.match.get_absolute_url }}">{{ match_player.match.name }}</a>
                    ({{ match_player.match.get_status_display }})
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <p>
        <a href="{% url 'game.views.new_match' %}">Set up new match</a><br>
        <a href="{% url 'game.views.public_matches' %}?filter=joinable">Join a public match</a><br>
    </p>
    <p>
        <a href="{% url 'game.views.public_matches' %}?filter=in_progress">Watch an ongoing match</a><br>
        <a href="{% url 'game.views.public_matches' %}?filter=finished">See finished matches</a><br>
    </p>

    <form action="{% url 'game.views.game_invite' %}" method="post">
        {% csrf_token %}
        {{ invite_form.as_p }}
        <input type="submit" value="Invite"/>
    </form>
{% endblock %}